/* ======= base ======= */
@import './base/variables.css';
@import './base/global.css';
@import './base/container.css';
@import './base/section.css';
@import './base/visually-hidden.css';

/* ======= layout ======= */
@import './layout/header.css';
@import './layout/hero.css';

@import './layout/mobile-menu.css';
@import './layout/modal-window.css';

/* ======= components ======= */
@import './components/components.css';
