@media screen and (max-width: 1157px) {
  .feature__box-icon {
    display: none;
  }

  .subsection-title.feature__subsection-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }
}

/* ======= MOBILE ======= */

.feature__list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.feature__item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.feature__text {
  color: var(--color-text-secondary);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5;
}

/* ======= TABLET ======= */

@media screen and (min-width: 768px) {
  .feature__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .feature__item {
    width: calc((100% - 24px) / 2);
  }

  .subsection-title.feature__subsection-title {
    text-align: left;
  }
}

/* ======= DESKTOP ======= */

@media screen and (min-width: 1158px) {
  .feature__list {
    flex-wrap: nowrap;
  }

  .feature__box-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid var(--color-border-feature-item);
    background-color: var(--color-bg-feature-item);
  }

  .feature__text {
    font-weight: 400;
  }
}
