@media screen and (max-width: 767px) {
  .header__nav-list,
  .header__contact {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 15px;
  height: 56px;
  border-bottom: 1px solid var(--color-line);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logotype */
.logo__accent {
  color: var(--color-text-primary);
}

/* mobile menu */
.header__menu-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  fill: var(--color-burger-icon);
}

/* ======= TABLET ======= */

@media screen and (min-width: 768px) {
  .header__menu-btn,
  .mobile-menu {
    display: none;
  }

  .header {
    height: 72px;
  }

  /* navigation */

  .header__nav {
    display: block;
  }

  .header__nav-list {
    display: flex;
    column-gap: 40px;
  }

  .header__nav-link {
    position: relative;
    padding-block: 24px;

    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--color-text-primary);
  }

  .header__nav-link--active {
    color: var(--color-state-primary);
  }

  .header__nav-link--active::after {
    display: block;
    position: absolute;
    content: '';
    bottom: -1px;

    border-radius: 2px;
    width: 100%;
    height: 4px;

    background-color: var(--color-state-primary);
  }

  /* contact info */

  .header__contact-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .header__contact-item {
    font-family: var(--font-primary);
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    font-style: normal;
  }

  .header__contact-link {
    color: var(--color-text-secondary);
  }
}

/* ======= DESkTOP ======= */

@media screen and (min-width: 1158px) {
  .header__container {
    justify-content: start;
  }

  .header__nav {
    margin-left: 76px;
    margin-right: auto;
  }

  .header__nav-link,
  .header__contact-link {
    transition: color var(--duration) var(--timing-function);
  }

  .header__nav-link:hover,
  .header__nav-link:focus,
  .header__contact-link:hover,
  .header__contact-link:focus {
    color: var(--color-state-primary);
  }

  /* contact info */
  .header__contact-list {
    flex-direction: row;
    column-gap: 40px;
  }

  .header__contact-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
