/* ======= MOBILE ======= */

.backdrop {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  padding-inline: 8px 16px;
  transition: opacity var(--duration) var(--timing-function);

  background-color: var(--color-bg-backdrop);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;
  padding: 72px 16px 24px 16px;
  max-width: 288px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--color-bg-modal);
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  border: 1px solid var(--color-border-close-btn);
  stroke: var(--color-text-primary);
  background-color: var(--color-line);
}

.modal__description {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
}
