.container {
  padding-inline: 16px;
}

/* ======= mobile ======= */
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-inline: auto;
  }
}

/* ======= tablet ======= */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* ======= desktop ======= */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-inline: 15px;
  }
}
