:root {
  /* ======= typography ======= */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;

  /* ======= colors ======= */
  --color-bg-body: #ffffff;
  --color-bg-hero: rgba(46, 47, 66, 0.7);
  --color-bg-feature-item: #f4f4fd;
  --color-bg-team: #f4f4fd;
  --color-bg-team-card: #ffffff;
  --color-bg-portfolio-card: #ffffff;
  --color-bg-footer: #2e2f42;
  --color-bg-no-img: #f4f4fd;
  --color-bg-backdrop: rgba(46, 47, 66, 0.4);
  --color-bg-modal: #fcfcfc;

  --color-text-primary: #2e2f42;
  --color-text-secondary: #434455;
  --color-text-light: #ffffff;
  --color-text-overlay: #f4f4fd;
  --color-text-footer: #f4f4fd;
  --color-text-modal: #8e8f99;

  --color-accent: #4d5ae5;
  --color-state-primary: #404bbf;
  --color-state-secondary: #31d0aa;

  --color-line: #e7e9fc;
  --color-border-close-btn: #d0d2e3;
  --color-border-feature-item: #8e8f99;
  --color-border-modal: rgba(46, 47, 66, 0.4);

  --color-social-icon: #f4f4fd;
  --color-burger-icon: #2f2f37;
  --color-checkmark-icon: #f4f4fd;

  /* transition */
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
