/* ======= logo ======= */

.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-accent);
}

/* ======= title ======= */

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--color-text-primary);
}

.title-subsection {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-text-primary);
}

/* ======= button ======= */

.button {
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: var(--color-accent);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
}
