/* ======= logo ======= */

.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-accent);
}

/* ======= title ======= */

.section-title {
  margin-bottom: 72px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--color-text-primary);
}

.subsection-title {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-text-primary);
}

/* ======= button ======= */

.button {
  display: block;
  margin-inline: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;

  color: var(--color-text-light);
  background-color: var(--color-accent);
  font-family: var(--font-primary);
  font-weight: 500;
  letter-spacing: 0.04em;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/* ======= social networks ======= */

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--color-accent);
}
